{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'bs/css/custom.css' %}" rel="stylesheet">
    <title>{% block title%}Book service{% endblock title %}</title>
</head>
<body class="d-flex flex-column h-100 text-bg-light">
    <div class="container">
        <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BOOK SERVICE</a><br>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'product_card:service_navigation' %}">Navigation</a>
          </li>

        
        <form action="{% url 'search_results' %}" method="get" class="d-flex" role="search">
          <input name="q" type="text" class="form-control me-2" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success me-4" type="submit">Search</button>
        </form>
</header>

<main>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">A room without books is like a body without a soul.</h1>
      <p class="lead text-muted"> © Cicéron</p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container size-fixed">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for obj in page_obj %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% if obj.image %}{{ obj.image.url }}{% else %}{% endif %}" alt="Default image" border="1" width="100%" height="500" >
          <div class="card-body">
            <p class="card-text">{{ obj.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'product_card:book_detail' pk=obj.pk %}"  type="submit" class="btn btn-sm btn-outline-secondary">View</a>

                <a href="{% url 'product_card:pc_update' pk=obj.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>

              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
</main>


<footer class="py-3 my-4">
  <div class="shadow p-3 mb-5 bg-body rounded">
  <div class="container">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      </ul>
    <p class="text-center text-muted">&copy; 2023 LeatherDiamond</p>
  </div>
  </div>
</footer>
</main>
</body>
</html>
